*{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: titleFont;
  src: url(ka1.ttf);
}

@font-face {
  font-family: optionsFont;
  src: url(VCR_OSD_MONO_1.ttf);
}

body {
  background-image: url(floorbackground.png);
}

h2 {
  font-size: 100px;
  color: green;
  text-align: center;
  font-family: titleFont;
}

div {

}

nav {


}

ul {
  padding-top: 35px;
  text-align: center;
}

ul li {
  list-style: none;
}

ul li a {
  font-size: 35px;
  font-family: optionsFont;
  color: blue;
  text-decoration: none;
}

u li a:visited {
  color: blue;
  text-decoration: none;
}
